.crop-dialog {
	height: 70vh;
	width:67vw;
	position: relative;
	background-color: black;
}

.container-cropper {
	height:90%;
  width: 100%;

}

.cropper {
	height:90%;
	position: relative;
}

.slider {
	height: 10%;
	display: flex;
	align-items: center;
	margin: auto;
	width: 60%;
}

.container-buttons {
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #000000;
}